*.pkl
adv_data/
adv_checkpoint/
model/data/example_data/
model/data/augment_data/
checkpoint/
*.pyc
/*.log*
*ptm
.vscode
*visualize_images*/
*_tsne_*
*hard_triplet_*
*_feature.pkl
Visualize_Network_*
hard_mining/
backup.py
*png
*pdf
*.bak*
*.csv
*.zip
